<!DOCTYPE html>
<html>
    <head>

        {% block head %}
            <title>Rocketseat</title>
        {% endblock %}

        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>
        <header>
            <div class="links">
                <a href="tel: +5547992078767">Telefone</a>
                <a href="mailto:oi@rocketseat.com.br">Email</a>
                <a href="https://discordapp.com/invite/gCRAFhc" target="_blanck">Comunidade</a>
                <a href="/">Sobre</a>
                <a href="/courses">Cursos</a>
            </div>
        </header>

        {% block content %} {%endblock%}

        <footer></footer>

    </body>
</html>