{% extends "layout.njk"%}

{% block head %}
    <title>404 Not Found</title>
{% endblock %}

{% block content %}
    <div class = "error">
        <h1>Página não encontrada</h1>
        <p> Erro 404</p>
        <p>O URL solicitado não foi encontrado neste servidor.</p>
    </div>
{% endblock %}